.form-style{
    margin: 30px 100px;
}
.form-style input{
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius:5px;
    width: 300px;
}
.error{
    color:red;
}
.submit{
    background-color:black;
    color:white;
    height:35px;
    width:300px;

}